# Managed by Ansible.
[Unit]
Description=restic backup-check
Wants=network-online.target
After=network-online.target docker.service
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/backup-check
Nice=10
IOSchedulingClass=idle
