# Managed by Ansible (roles/monitoring/defaults/main.yml).
DISK_MAX={{ health_disk_max_percent }}
INODE_MAX={{ health_inode_max_percent }}
MEM_MIN={{ health_memory_min_available_percent }}
LOAD_PER_CPU={{ health_load_per_cpu }}
